
body { padding-top: 60px; }
#alert-wrap { margin-top: -40px; position: absolute; z-index: 1040; width: 40%; margin-left: -20%; left: 50%; }

.page-header { margin-top: 0; padding-bottom: 10px }
.page-header h1 { display: inline }
.page-header a { margin-left: 10px; position: relative; top: -6px }

select[name$='[year]'], select[name$='[month]'], select[name$='[day]'], select[name$='[hour]'], select[name$='[min]'] { display:inline; width: auto } 
input[name$='[lat]'], input[name$='[lng]'] { display:inline; width: auto } 

table a:not(.btn), .table a:not(.btn) { text-decoration: none }
table a:not(.btn):hover, .table a:not(.btn):hover { text-decoration: underline }

.dropdown-menu { overflow-y: auto; max-height: 50vh }