
body { padding-top: 4.5rem; padding-bottom: 2rem }

#alert-wrap { margin-top: -40px; position: absolute; z-index: 1040; width: 40%; margin-left: -20%; left: 50%; }

.page-header { margin-top: 0; padding-bottom: 10px }
.page-header h1 { display: inline }
.page-header a { margin-left: 10px; position: relative; top: -6px }

.dropdown-menu { overflow-y: auto; max-height: 50vh }