<script>
  $(function () {

    $('textarea.wysiwyg').each(function () {
      var textarea = this;
      var enableButton = $('<a class="btn btn-default btn-sm" style="margin-bottom: 5px" href="javascript:;"><i class="fa fa-font"></i> Enable rich text editor</a>')
      $(enableButton).insertBefore(textarea).click(function () {
        var summernote = $('<div class="summernote"></div>');
        $(summernote).insertAfter(this);
        $(summernote).summernote({
        toolbar: [
        ['view', ['codeview', 'fullscreen']],
        ['style', ['style']],
        ['font', ['bold', 'italic', 'underline', 'clear']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ],
                height: 300,
                codemirror: { theme: 'monokai' },
<% if ENV['INLINE_UPLOAD_MODEL'] %>
          onImageUpload: function (files, editor, welEditable) {
            sendFile(files[0], editor, welEditable);
          }
<% end %>
      });
      $(textarea).prop('required', false);
      $(summernote).code($(textarea).val());
      // $('button[data-event=codeview]', summernote.next()).click();
      $(textarea).hide();
      $(textarea.form).submit(function () {
        $(textarea).val($(summernote).code());
      });
      $(enableButton).hide();
    })
    });
<% if ENV['INLINE_UPLOAD_MODEL'] %>
      function sendFile(file, editor, welEditable) {
        var formData = new FormData();
        formData.append('<%=ENV['INLINE_UPLOAD_MODEL'].underscore%>[<%=ENV['INLINE_UPLOAD_MODEL_FILE_FIELD']%>]', file);

        $.ajax({
          data: formData,
          type: "POST",
          url: "<%=url(:new, :model => ENV['INLINE_UPLOAD_MODEL'])%>",
          cache: false,
          dataType: 'json',
          processData: false, // Don't process the files
          contentType: false, // Set content type to false as jQuery will tell the server its a query string request      
          success: function (data) {
            editor.insertImage(welEditable, data.url);
          }
        });
      }
<% end %>

  });
</script>