
<div class="page-header"> 
  <h1>Configuration variables</h1>
</div>

<% form_tag url(:config), :class => 'form-horizontal' do %>
  <% PlatformAPI.connect_oauth(ENV['HEROKU_OAUTH_TOKEN']).config_var.info(ENV['APP_NAME']).sort_by { |k,v| k }.each { |k,v| %>
    <div class="form-group">
      <label>
        <%=k%>
      </label>
      <%= text_field_tag k, :value => v, :class => 'form-control' %>
    </div>
  <% } %>
  <button type="submit" class="btn btn-primary">Submit</button>
<% end %>