
<div class="page-header">
  <h1>Dashboard</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th></th>
    </tr>
  </thead>
  <% (featured_models = (ENV['FEATURED_MODELS'] ? ENV['FEATURED_MODELS'].split(',').map(&:constantize) : [])).each { |model| %>
    <%= partial :home_row, locals: { model: model } %>
  <% } %>
  <% if ENV['FEATURED_MODELS'] %>
    <tr><td style="background: white" colspan="4"><hr></td></tr>
  <% end %>
  <% (models - featured_models).sort_by(&:to_s).each { |model| %>
    <%= partial :home_row, locals: { model: model } %>
  <% } %>
</table>
