<div class="col-sm-8 mx-auto">
  <% form_tag url(:login) do %>

    <div class="form-group">
      <label>Email</label>
      <%= text_field_tag :email, value: params[:email], class: 'form-control' %>
    </div>

    <div class="form-group">
      <label>Password</label>
      <%= password_field_tag :password, value: params[:password], class: 'form-control' %>
    </div>

    <% if Padrino.env == :development %>
      <div class="form-group">
        <label>Bypass login?</label>
        <%= check_box_tag :bypass %>
      </div>
    <% end %>

    <div class="form-group">
      <button class="btn btn-primary" type="submit">Sign in</button>
    </div>

  <% end %>
</div>
